html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    background-size: 1000px;
    background-repeat: repeat no-repeat;
    background-image: url(../image/money.jpg)
}